.table {
  position: absolute;
  top: 0;
  left: 300px;
  width: 100%;
  background-color: #f2f2f2;
}

.boardTitle {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 300px);
  height: 97px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000112;
  background-color: #fff;
}

.columns {
  display: flex;
  justify-content: flex-start;
  padding: 24px;
  margin-top: 97px;
}

.column {
  width: 280px;
  margin-right: 24px;
}

.columnTitle {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.4px;
  color: #828fa3;
  margin-bottom: 24px;
}

.task {
  width: 100%;
  padding: 23px 16px;
  background: #ffffff;
  box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.101545);
  border-radius: 8px;
  margin-bottom: 20px;
  cursor: pointer;
}

.title {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  color: #000112;
}

.count {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #828fa3;
}

.editButton {
  width: 80px;
  background: #635fc7;
  border-radius: 20px;
  font-size: 16px;
  padding: 5px 10px;
  color: #fff;
  margin-left: 20px;
}

.deleteButton {
  width: 80px;
  background: #ea5555;
  border-radius: 20px;
  font-size: 16px;
  padding: 5px 10px;
  color: #fff;
  margin-left: 20px;
}

.deleteModal {
  width: 480px;
  height: 229px;
  padding: 32px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  border-radius: 6px;
  z-index: 10;
}

.deleteModal h3 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #ea5555;
  margin-bottom: 24px;
}

.deleteModal p {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  color: #828fa3;
  margin-bottom: 24px;
}

.modalButtons {
  display: flex;
  justify-content: space-between;
}

.modalDeleteButton {
  width: 200px;
  height: 40px;
  background: #ea5555;
  border-radius: 20px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
}

.modalCancelButton {
  width: 200px;
  height: 40px;
  background: rgba(99, 95, 199, 0.1);
  border-radius: 20px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
  text-align: center;
  color: #635fc7;
}

.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.5;
  z-index: 5;
}

.editModal,
.addNewTaskModal,
.taskModal {
  width: 480px;
  height: 481px;
  padding: 32px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  border-radius: 6px;
  z-index: 10;
}

.editModal h3,
.addNewTaskModal h3 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  /* line-height: 23px; */
  color: #000112;
  margin-bottom: 24px;
}

.inputBlock {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.inputBlock input,
.inputBlock textarea,
.inputBlock select {
  width: 100%;
  padding: 8px 16px 9px 16px;
  background: #ffffff;
  border: 1px solid rgba(130, 143, 163, 0.25);
  border-radius: 4px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  color: #000112;
  outline: none;
}

.inputBlock textarea {
  height: 112px;
  resize: none;
}

.editModal label,
.addNewTaskModal label,
.inputBlock label {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #828fa3;
  margin-bottom: 8px;
}

.editColumns {
  display: flex;
  flex-direction: column;
}

.editColumn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.editColumn input {
  width: 385px;
  padding: 8px 16px 9px 16px;
  background: #ffffff;
  border: 1px solid rgba(130, 143, 163, 0.25);
  border-radius: 4px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  color: #000112;
  outline: none;
}

.addNewColumnButton,
.addNewSubTaskButton {
  width: 100%;
  height: 40px;
  background: rgba(99, 95, 199, 0.1);
  border-radius: 20px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
  color: #635fc7;
  margin-bottom: 24px;
}

.createNewBoardButton,
.createNewTaskButton {
  width: 100%;
  height: 40px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  background: #635fc7;
  border-radius: 20px;
}

.addNewTaskButton {
  width: 164px;
  background: #635fc7;
  border-radius: 20px;
  font-size: 16px;
  padding: 5px 10px;
  color: #fff;
  margin-left: 20px;
}

.boardLeft {
  display: flex;
  align-items: center;
}

.addNewTaskModal {
  height: 675px;
}

.modalSubTask {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.modalSubTasks {
  display: flex;
  flex-direction: column;
}

.addNewTaskModal input,
.addNewTaskModal select {
  background: #ffffff;
  border: 1px solid rgba(130, 143, 163, 0.25);
  border-radius: 4px;
  width: 100%;
  padding: 8px 16px;
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  color: #000112;
  opacity: 0.5;
  outline: none;
}

.modalSubTask input {
  width: 385px;
}

.taskModal {
  height: 523px;
}

.taskModalHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.taskModalTitle {
  width: 387px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000112;
  margin-bottom: 24px;
}

.taskModalDescription {
  width: 100%;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  color: #828fa3;
  margin-bottom: 24px;
}

.taskModalCount p {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #828fa3;
  margin-bottom: 16px;
}

.taskModalCount div {
  padding: 12px;
  margin-bottom: 8px;
}

.taskModalCount input {
  margin-right: 16px;
}

.taskModalCount label {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* text-decoration-line: line-through; */
  color: #000112;
  mix-blend-mode: normal;
  opacity: 0.5;
}
